/* 기본 초기화 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  /* 장바구니 메인 컨테이너 */
  .cart-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  
  /* 장바구니 텍스트 */
  .cart-textarea {
    text-align: left;
    font-size: 36px;
    font-weight: 500;
    margin: 40px 0 ;
  }
  
  .cart-items {
    width: 70%;
  }
  

/* 반응형 디자인: 너비 1280px 이하 */
@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .cart-container {
    padding: 20px 20px 40px;
    margin-top: 100px;
    width: 100%;
  }
}

/* 반응형 디자인: 너비 768px 이하 */
@media (max-width: 768px) {

  /* 장바구니 컨테이너 */
  .cart-container {
    flex-direction: column;
  }
  .cart-textarea {
    text-align: center;
  }

  .cart-items, .cart-summary {
    width: 100%;
  }

  /* 장바구니 아이템 */
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-checkbox {
    margin-bottom: 10px;
  }

  .cart-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .cart-item-details {
    align-items: flex-start;
  }

  .cart-item-quantity {
    margin-top: 10px;
  }
  .cart-select-actions button{
    width: 100%;
    align-items: center;
  }
  /* 결제 버튼 */
  .cart-summary-actions {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }


  /* 모바일 환경에서 결제정보 바 하단 고정 및 ul 요소 위치 조정 */
  .cart-summary {
    min-width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  .cart-summary-price {
    width: 100%;
  }
  .cart-summary ul {
    margin-bottom: 10px;
  }

  .cart-summary ul li {
    font-size: 14px;
  }

  .cart-summary-actions button {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
  }
}



.cart-none-product {
  text-align: center;
}

.cart-none-product p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.cart-none-product ul li {
  display: inline-flex;
  font-size: 24px;
  font-weight: 700;
  color: #b63100;
}

/* 결제 정보 */

.cart-summary {
  position: sticky;
  top: 20px;
  width:25%;
  background-color: #f9f9f9;
  padding: 20px;
}
.cart-summary h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.cart-summary ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.cart-summary ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-summary-actions {
  display: flex;
  flex-direction: column;
}

.right-global-order-button,
.right-global-order-selected-button {
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.right-global-order-button {
  background-color: #b63100;
  color: #ffffff;
  margin-bottom: 10px;
}

.right-global-order-selected-button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #cccc;
}