.write_checkout p{
    margin-bottom: 20px; display:flex; }
.write_checkout p label{
    display: inline-block; width: 120px;}
.write_checkout p input{
    width: 40%; border-radius:3px;
    display: inline-block;
    height: 28px;
    line-height:28px; border:1px solid #ccc;
    padding: 0 10px;
}
.write_checkout p textarea{
    width: calc(100% - 120px);border-radius:3px;
    height: 200px; overflow: auto; resize:none; border:1px solid #ccc;
    padding: 5px 10px;
    line-height: 1.6;}
.write_checkout .btn_area{text-align: center;
    margin-top: 40px;}

.write_checkout .btn{border-radius:5px;
    padding: 10px 30px;
    margin: 0 5px;
    background: #efefef;
    display: inline-block; outline:none; border:none; font-size:16px;
    line-height: 1.2; cursor:pointer}
.write_checkout .btn.btn_write{
    background: #199AE2; color:#fff;}

.write_checkout .btn1{border-radius:5px;
    padding: 5px 27px;
    margin: 0px 10px;
    background: #efefef;
    display: inline-block; outline:none; border:none; font-size:16px;
    line-height: 1.2; cursor:pointer}
.write_checkout .btn1.btn_write{
    background: #199AE2; color:#fff;}