.search_wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_logo h1 {
  padding-right: 30px;
}

.search_logo img {
  width: 120px;
  height: 100px;
}

.search_area {
  position: relative;
  border: 1px solid #b63100;
  border-radius: 50px;
  width: 550px;
  height: 60px;
}

.search_text {
  position: absolute;
  left: 25px;
  width: 450px;
  height: 45px;
  font-size: 25px;
  margin: 8px;
  outline: none;
  border: none;
}

.search_button {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  color: #b63100;
  background-color: transparent;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.search_button:focus {
  outline: none;
}

.search_button div {
  position: relative;
}

.search_button i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

input {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
