.link_box { 
    display: flex;
    text-align: center;
    align-items: center;
}
.link_box p {
    font-size: 18px;
    border: 2px solid white;
}
.link_copy {
    cursor: pointer;
    font-weight: 500;
    padding: 4px;
    position: static;
    background-color: #fff;
}

.link_copy img {
    width: 22px;
}

/* .link_copy:before {
    content: "";
    position: absolute;
    background: rgb(173, 173, 173);
    width: 1px;
    height: 18px;
}


.link_copy::after {
    content: "";
    position: absolute;
    background: rgb(173, 173, 173);
    width: 1px;
    height: 18px;
} */