.mypage_body .rent_item {
    width: 100%;
    text-align: left;
    padding: 10px 0; 
}

.mypage_body .rent_item_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.mypage_body .rent_item_up,
.mypage_body .rent_item_down {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    padding: 5px 0; 
}

.mypage_body .rent_item_up .rentId,
.mypage_body .rent_item_up .rentBookname,
.mypage_body .rent_item_up .rentDate,
.mypage_body .rent_item_up .rentUsername,
.mypage_body .rent_item_up .rentISBN,
.mypage_body .rent_item_up .rentButton,
.mypage_body .rent_item_down .rentUsername,
.mypage_body .rent_item_down .rentUserID,
.mypage_body .rent_item_down .rentLimit {
    text-align: left; 
    flex-basis: 48%; 
}

.mypage_body .rent_item_down .rentCurrent {
    text-align: right;  
    flex-basis: 30%;
    padding-right: 0px; 
    justify-content: flex-end; 
    position: relative;
}

.mypage_body .rent_item_up .rentId,
.mypage_body .rent_item_down .rentUsername {
    flex-basis: 20%; 
}

.mypage_body .rent_item_up .rentBookname,
.mypage_body .rent_item_down .rentUserID {
    flex-basis: 50%; 
}

.mypage_body .rent_item_up .rentDate,
.mypage_body .rent_item_up .rentISBN,
.mypage_body .rent_item_down .rentLimit {
    flex-basis: 30%; 
}

.mypage_body .rent_item_up .rentButton {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage_body .disable {
    display: none;
}

.rent_item_line {
    border-top: 1px solid #5c5c5c;
    width: 100%;
    margin-top: 15px;
}


.rentCurrent {
    font-size: 20px;
    text-align: center; 
    padding-right: 30px; 
    border-radius: 4px; 
    background-color: transparent; 
    max-width: 150px; 
    
}

.rentCurrent.pending {
    color: skyblue; /* 대여 승인 대기중 */
}

.rentCurrent.borrowing {
    color: green; /* 대여 중 */
}

.rentCurrent.rejected {
    color: red; /* 반려처리 됨 */
}

.rentCurrent.returned {
    color: blue; /* 반납완료 */
}

.rentCurrent.error {
    color: orange; /* 반납중 이상발생 */
}

.rentCurrent .cause{
    position: absolute;
    left: -100%;
}