.bookInfo{
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 80%;
    border-bottom: 1px solid;
    padding-bottom: 80px;
}

.img {
    flex-basis: 35%;
}

.book_img img{
    max-width: 320px;
}

.book_detail div{
    display: flex;
}

.book_detail div p:nth-child(1){
    width: 85px;
}

.info_detail {
    flex-basis: 65%;
    text-align: left;
    margin-left: 107px;
}

.info_detail .btn{
    align-content: baseline;
    margin-top: 58px;
}

.info_detail .btn .btn_rent{
    background-color: #199AE2;
    color: white;
    width: 190px;
    height: 55px;
    border-radius: 5px;
    margin-right: 15px;
}

.isStore{
    background-color: #414141;
}

.info_detail .btn .btn_wish{
    background-color: white;
    color: #199AE2;
    width: 190px;
    height: 55px;
    border: 1px solid #199AE2;
    border-radius: 5px;
    margin-right: 15px;
}

.avilable{
    margin-top: 53px;
}

.Rent_Admin_List .rent_item li {
    display: flex;
    width: 98%;
    align-items: center;
    text-align: left;
    font-size: 14px;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid;
}

.Rent_Admin_List .rent_item {
    border-top: 1px solid;
}

.Rent_Admin_List .rent_item_wrap {
    display: inline-block;
    flex-basis: 80%;
    padding: 20px;
}

.Rent_Admin_List .rent_item_up{
    display: flex;
    margin: 0;
}

.Rent_Admin_List .rent_item_up p {
    text-align: left;
}

.Rent_Admin_List .rent_item_up .rentId{
    flex-basis: 15%;
}

.Rent_Admin_List .rent_item_up .rentBookname{
    flex-basis: 30%;  
    margin: 0;
    text-overflow:ellipsis;
}

.Rent_Admin_List .rent_item_up .rentDate{
    flex-basis: 25%;
}

.Rent_Admin_List .rent_item_up .rentUsername{
    flex-basis: 25%;
}

.Rent_Admin_List .rent_item_up .rentISBN{
    flex-basis: 25%;
}

.Rent_Admin_List .rent_item_up .rentButton{
    display: flex;
    align-items: center;
}

.Rent_Admin_List .rent_item_down{
    display: flex;
    margin-top: 10px;
}

.Rent_Admin_List .rent_item_down p {
    text-align: left;
}

.Rent_Admin_List .rent_item_down .rentUsername{
    flex-basis: 15%;   
}

.Rent_Admin_List .rent_item_down .rentUserID{
    flex-basis: 30%;
}

.Rent_Admin_List .rent_item_down .rentCurrent{
    flex-basis: 25%;
}

.Rent_Admin_List .rent_item_down .rentLimit{
    flex-basis: 25%;
}

.Rent_Admin_List .Rent_Admin_List{
    display: flex;
    max-width: 100%;
    height: 100vh;
}

.Rent_Admin_List .Rent_Admin_List h3{
    font-size: 32px;
}

.Rent_Admin_List .Admin_side_link div{
    font-size: 16px;
    padding: 20px;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
}

.Rent_Admin_List .rentButton{
    display: flex;
    padding: 26px;
}

.Rent_Admin_List .rentButton .approval button{
    margin-right: 40px;
    background-color: #199AE2;
    color: white;
    width: 90.05px;
    height: 30px;
    align-content: center;
    text-align: center;
}

.Rent_Admin_List .rentButton .cancel button{
    margin-right: 40px;
    background-color: white;
    color: red;
    width: 90.05px;
    height: 30px;
    align-content: center;
    text-align: center;
    border: 1px solid;
}

.Rent_Admin_List .rentButton .rentCause{
    padding: 7px;
}

.Rent_Admin_List .Admin_side{
    flex-basis: 300px;
    background-color: #444444;
    color: white;
}

.Rent_Admin_List .rent_admin_wrap{
    background-color: white;
    width: 100%;
    height: 100%;
}

.Rent_Admin_List .Admin_LOGO img{
    width: 50%;
}

.Rent_Admin_List .rent_admin_wrap .rent_admin_header{
    height: 90px;
    border-bottom: 1px solid #444444;
    align-content: center;

}

.Rent_Admin_List .rent_admin_wrap .rent_admin_header h3{
    margin: 0;
    font-size: 32px;
}

.Rent_Admin_List .rentBookmatch {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
}

.Rent_Admin_List .rentBookmatch div{
    margin: 20px 60px;
}

.Rent_Admin_List .rent_admin_body{
    overflow-y: scroll;
    height: 90vh;
}

.Rent_Admin_List .rent_admin_body h3{
    margin: 20px 0;
    font-size: 32px;
}

.Rent_Admin_List .rent_admin_body .keeping_h3{

    font-size: 32px;
}

.Rent_Admin_List .rent_item_keeping {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.Rent_Admin_List .rent_item_keeping div{
    margin-left: 15px;
    text-align: left;
    flex-basis: 20%;
}

.Rent_Admin_List .rent_item_keeping .keepingId{
    flex-basis: 13%;
}

.Rent_Admin_List .rent_item_keeping .keepingUser{
    flex-basis: 13%;
}

.Rent_Admin_List .rent_item_keeping .keepingBookname{
    flex-basis: 24%;
    text-overflow:ellipsis;
}

.Rent_Admin_List .rent_item_keeping p{
    text-align: left;
}

.Rent_Admin_List .rent_item_keeping div:nth-child(6) p{
    text-align: center;
}

.Rent_Admin_List .matching{
    margin-left: 45px;
}

.Rent_Admin_List .matching button{
    margin-right: 40px;
    background-color: #199AE2;
    color: white;
    width: 90.05px;
    height: 30px;
    align-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;
}

.Rent_Admin_List{
    position: relative;
    z-index: 999;
}