.detail_title {
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.detail_title h5 {
  padding: 10px;
  font-weight: 800;
  font-size: 18px;
  columns: #333333;
}
.detail_content {
  padding: 20px;
  margin-bottom: 200px;
}
.comment_title p {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #199ae2;
  height: 38px;
  color: #fff;
}
.comment_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.comment_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 15px 0 10px;
}
.comment_writer {
  font-weight: 600;
  color: #555;
  font-size: 14px;
}
.comment_content {
  margin-top: 15px;
  color: #666;
  font-size: 12px;
  font-weight: 500;
}
.comment_form_section {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}
.comment_form {
  display: flex;
  flex-direction: column;
}
.comment_writer_label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}
.comment_textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: vertical;
}
.submit_button {
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #199ae2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit_button:hover {
  background-color: #0056b3;
}
.button_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
.save_button,
.cancel_button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #199ae2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.list_button,
.write_button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #199ae2;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  display: block;
}
.list_button:hover,
.write_button:hover {
  background-color: #0056b3;
}
.button_container {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.edit_button,
.delete_button {
  background-color: #199ae2;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.edit_button:hover,
.delete_button:hover,
.edit_btn_write:hover {
  background-color: #0056b3;
}
.comment_actions {
  display: flex;
  align-items: center;
}
.comment_actions button {
  background-color: #fff;
  color: #999999;
  font-size: 10px;
  font-weight: 500;
}
.comment_actions .nav_auth_bar {
  margin: 0 auto;
  height: 10px;
  font-weight: 500;
  margin: 0 5px;
}
