@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html, body{font-family: 'Pretendard-Regular';}

.signup_form {
    width: 1100px;
    margin: 0 auto;
    padding: 35px 20px;
    box-sizing: border-box;
}

.signup_form > .signup_form_con {
    margin-bottom: 20px;
    display: flex;
}

.signup_form label {
    padding-top: 6px;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    width: 130px;
}

.signup_form input {
    width: 596px;
    height: 39px;
    font-size: 12px;
    padding: 0 10px;
}

.btn_check {
    text-align: center;
    width: 89.13px;
    height: 40px;
    font-size: 13px;   
    color: #199AE2;
    background-color: #fff;
    border:1px solid #199AE2;
    border-radius: 5px;
    margin-left: 15px;
}

.password_wrap {
    height: 35px;
}

.signup_form p {
    font-size: 9px;
    color: #ff0000;
    margin: 5px 0;
}

.signup_form_policybox p {
    font-size: 20px;
    color: #000000;
}

.signup_form_TermsofUse p {
    font-size: 20px;
    color: #000000;
}

.mail_input_wrap {
    width: calc(100% - 80px);
    height: 35px;
    padding-left: 6px;
}

.mail_input {
    display: flex;
}


#btn_signup {
    text-align: center;
    padding: 75px 0 100px 0;
}

#btn_signup button {
    width: 135px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn_back{
    display: inline-block;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    color: #199AE2;
    background-color: #fff;
    border:1px solid #199AE2;
    margin-right: 15px;
    padding: 12px;
}

.btn_signup {
    margin-bottom: 5px;
    color: #fff;
    background-color: #199AE2;
    border:1px solid #199AE2;
}

.btn_signup:disabled{
    background-color: gray;
}



.policy-box ,.TermsofUse {
    width: 1100px;
    height: 180px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow-y: scroll;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
    width: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
.checkbox-container label {
    font-size: 14px;
    padding-bottom: 8px;
  }

.checkbox_text {
    display: inline-block;
    width: 500px;
}